<%= form_for(@recite_task) do |f| %>
  <% if @recite_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recite_task.errors.count, "error") %> prohibited this recite_task from being saved:</h2>

      <ul>
      <% @recite_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_type %><br>
    <%= f.number_field :task_type %>
  </div>
  <div class="field">
    <%= f.label :word_ids %><br>
    <%= f.text_area :word_ids %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :next_time %><br>
    <%= f.datetime_select :next_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
