<!DOCTYPE html>
<html>
<head>
  <title>悟空单词</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu">

      <a class="navbar-brand" href="/recite_tasks">悟空单词</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-menu">
      <ul class="nav navbar-nav">
        <li><%= link_to "词典", dicts_path  %></li>
        <li><%= link_to "背单词", recite_tasks_path  %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
          <li><%=  link_to (@current_user.email).html_safe, edit_user_path(@current_user) %></li>

          <li><%= link_to "注销", logout_path %></li>
        <% else %>
          <li><%= link_to "登陆", login_path %></li>
        <% end %>
        
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container">
  <% if notice %>
    <div class="alert alert-danger" role="alert"><%= notice %></div>
  <% end %>

	<%= yield %>
</div>





  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
  <![endif]-->


  <%= yield :javascript_includes %>

</body>
</html>
